<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.shark.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CommonLoginFilter</filter-name>
    <filter-class>com.shark.filter.CommonLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommonLoginFilter</filter-name>
    <url-pattern>/jsp/main/*</url-pattern>
    <url-pattern>/action/*</url-pattern>
  </filter-mapping>
</web-app>